<div class="quiz-container">
  <div class="question">
    <span ><%= question.question %></span>
  </div>

  <div class="answer-choices">
    <div class="button">
      <div class="selector"></div>
      <button><%= question.choice_one %></button>
    </div>
    <div class="button">
      <div class="selector"></div>
      <button><%= question.choice_two %></button>
    </div>
    <div class="button">
      <div class="selector"></div>
      <button><%= question.choice_three %></button>
    </div>
    <div class="button">
      <div class="selector"></div>
      <button><%= question.choice_four %></button>
    </div>
  </div>
</div>